.checkbox-label{
    @include font(2vw, 1.17, 400, 0.03em);
    display: flex;
    align-items: center;
    color: var(--text-color);
    
    @media screen and(min-width:451px) {
        @include font(12px, 1.17, 400, 0.03em);
    }
        
@media screen and(min-width:1200px) {
    @include font(14px, 1.71, 400, 0.03em);
    }
}


.checkbox-label::before{
    display: block;
    content: '';
    width: 16px;
    height: 15px;
    outline: 1px solid #757575;
    border-radius: 2px;
    margin-right: 7px;

}

.checkbox-label a{
    color: var(--akcent-color);
    text-decoration: underline;
    @media screen and(min-width:340px) and(max-width:450px) {
        margin-left: 23px;
    }
}
.licence-checkbox{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    margin: -1px;
    &:checked+.checkbox-label::before{
        background-color: var(--akcent-color);
        background-image: url('../../images/check.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    &:focus + .checkbox-label::before{
        outline: 1px solid #2196F3;
    }
    &:hover + .checkbox-label::before{
        outline: 1px solid #2196F3;
    }
} 