.logo{
    margin-left: 15px;
    color:var(--akcent-color);
    font-family: Raleway,sans-serif;
    @include font(24px, 1.17, 700, 0.03em); 
    
    @media screen and(min-width:1200px) {
        @include font(26px, 1.17, 700, 0.03em);
        
    }

}
.logo-black--color-dark{
    color: var(--title-text-color) ;
}
.logo-white--color-light{ 
    color:var(--primeri-white-color);
}
