.menu-button{
    position: relative;
    z-index: 10;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    &:focus,
    &:hover{
        fill: var(--akcent-color);
        transition: color 250ms  var(--cubic-bezier);
    }
    & .icon-cros{
        display: none;
    }
    &.is-open .icon-cros{
        display: block;
    }
    &.is-open .icon-menu{
        display: none;
    }
    @media screen and(min-width:768px) {
        display: none;
        
    }
}


.mobile-menu{
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;  
    z-index: 5;
    padding: 48px;
    margin-right: 10px;
    opacity: 0;
    transition: opacity 500ms var(--cubic-bezier), visibility  500ms var(--cubic-bezier);
    

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &.is-open{
        visibility: visible;
        margin-right: 10px;
        opacity: 1;
        transition: opacity 500ms var(--cubic-bezier), visibility 500ms var(--cubic-bezier);
        
        pointer-events: auto;
        
        @media screen and(min-width:768px) {
            display: none;
        }
    }
}


.mobile-menu-list{
    margin-top: -32px;
    margin-bottom: 50px; 
}

.mobile-menu-item{
    @include font(40px, 1.17, 500, 0.02em);
    color:#212121;
    margin-top: 32px;
    & :hover,
    & :focus{
        color: var(--akcent-color);
        transition: color 250ms  var(--cubic-bezier);
    }
    &.current{
        color: var(--akcent-color);
    }

}
.mobile-menu-connect{
    margin-top: -32px;
    margin-bottom: 64px;

}
.mob-menu-link{
    color: #757575;
    margin-top: 32px;
    & :hover,
    & :focus{
        color: var(--akcent-color);
        transition: color 250ms  var(--cubic-bezier);
    }
    &.tel{
        @include font(6vw, 1.18, 500, 0.02em);

        @media screen and(min-width:480px) {
            @include font(34px, 1.18, 500, 0.02em);
        }
    }
    &.mail{
        @include font(24px, 1.17, 500, 0.02em);
    }

}
.mobile-menu-social{
    display: flex;
    flex-wrap: wrap;
}
.mobile-menu-social-item{
    @include font(18px,1.22, 500, 0.02em);
    & :hover,
    & :focus{
        color: var(--akcent-color);
        transition: color 250ms  var(--cubic-bezier);
    }
    

}
.mob-span{
    margin: 0 5px;
}
