:root{
    --title-text-color: #212121;
    --text-color:#757575;
    --akcent-color: #2196F3;
    --akcen-color-button:#188CE8;
    --primeri-white-color:#FFFFFF;
    --primeri-color-logo:#AFB1B8;
    --cubic-bezier:cubic-bezier(0.4, 0, 0.2, 1);
    --card-set-gap:30px;
}